:root{
    --success-bg: #ECFDF5;
    --success-title: #065F46;
    --success-message: #047857;
    --success-icon: #34D399;
    --warning-bg: #FFFBEB;
    --warning-title: #92400E;
    --warning-message: #B45309;
    --warning-icon: #FBBF24;
    --error-bg: #FEF2F2;
    --error-title: #92400E;
    --error-message: #B45309;
    --error-icon: #F87171;
    --information-bg: #EFF6FF;
    --information-title: #1E40AF;
    --information-message: #1C51B9;
    --information-icon: #60A5FA;
}

.toast-container{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.toast-component{
    margin: 1rem;
    z-index: 9999;
    min-width: 30rem;
    max-width: 60vw;
    padding: 0.5em 1em;
    display: flex;
    gap: 0.5rem;
    padding: 1.5em;
    border-radius: 0.5em;
    background-color: var(--information-bg);
    transition: all 1s;
}

.toast-component .icon{
    flex-shrink: 0;
    color: var(--information-icon);
    font-size: 1.5rem;
}

.toast-component .title{
    color: var(--information-title);
    font-size: 1.25rem;
}

.toast-component .message{
    color: var(--information-message);
    font-size: 1rem;
    margin-top: 0.75em;
}

.success{
    background-color: var(--success-bg);
}

.success .icon{
    color: var(--success-icon);
}

.success .title{
    color: var(--success-title);
}

.success .message{
    color: var(--success-message);
}

.warning{
    background-color: var(--warning-bg);
}

.warning .icon{
    color: var(--warning-icon);
}

.warning .title{
    color: var(--warning-title);
}

.warning .message{
    color: var(--warning-message);
}

.error{
    background-color: var(--error-bg);
}

.error .icon{
    color: var(--error-icon);
}

.error .title{
    color: var(--error-title);
}

.error .message{
    color: var(--error-message);
}

.information{
    background-color: var(--information-bg);
}

.information .icon{
    color: var(--information-icon);
}

.information .title{
    color: var(--information-title);
}

.information .message{
    color: var(--information-message);
}

.hide {
    transform: translateX(100%);
    opacity: 0;
    transition: all 1s;
    pointer-events: none;
    visibility: hidden;
}